* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0 calc(50vw - 600px);
}

header {
    width: 100%;
    height: 80px;
    top: 0px;
    position: fixed;
    background-color: white;
    z-index: 1;
}

.menu {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    margin-left: 50px;
    margin-right: 601px;
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: black;
}

select {
    border: none;
    font-family: 'Tourney';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.04em;
}


.sidebar {
    height: 462px;
    width: 385px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    top: 150px;
    position: sticky;
    padding: 10px;
    float: left;
}

.sidebar__item {
    border-bottom: 1px solid #BDBDBD;
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    color: black;
}

#documentation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
    margin-top: 180px;
    margin-left: 380px;
    padding-left: 30px;
    width: 785px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h2 {
    position: relative;
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

section::before {
    content: '';
    width: 100px;
    height: 8px;
    background: black;
}

p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}

sup {
    font-family: 'Farro';
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
}